/* html{
    min-height: 100vh;
} */

body {
    font-family: 'Poppins', sans-serif;

}
header {
    background-color: #243644;
    color: white;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    z-index: 1000;
    height: 60px;
}

.header_container {
    display: flex;                
    justify-content: space-between;  
    align-items: center;          
    height: 100%;                 
    width: 100%;                  
}

footer {
    background-color: #243644;
    color: white;
    /* padding: 10px; */
    text-align: left;
    position: bottom;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto;

    position: fixed;
    left: 0;
    bottom: 0;
    
}

.content {
    background-color: white;
    width: 99%;
    margin: 0.5% auto ;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 70px;
}

#title-main{
    font-weight: bold;
    color: aliceblue;   
    text-decoration: none;
}

#title-main :hover{
    text-decoration: none;
    text-shadow: aliceblue 1px 0 10px;
}

.page-title-container{
display: block;
margin-left: auto;
margin-right: auto;
}

.page-title{
    color: dimgray;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.form-container{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_buttons {
    display: flex;
    gap: 20px;
}

.smaller-width-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;

}

.form-button{
    padding: 10px;
}

.link-btn {
    text-decoration: none;
}

.link-btn:hover {
    text-decoration: none;
}

.product-img {
    width: auto;
    height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.product-img img {
    height: 200px;
    object-fit: cover;
}