{%extends "/admin/admin_layout.html" %}

{% block title %} Products {% endblock %}
{% block content %}
 
<a href="{{ url_for('admin.add_product') }}" class="btn btn-primary btn-lg btn-block"><i class="fa-solid fa-pen"></i>Create New Product</a>
<h2 class="text-center my-3">Product List</h2>
    <table id="productTable" class="display">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Stock</th>
                <th>Rating</th>
                <th>Availability</th>
                <th>Created on</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td> <div class="description-container">
                    <span class="description-short">{{ product.description[:30]}}...</span>
                    <span class="description-full" style="display: none;">{{ product.description }}</span>
                    <span class="read-more-btn text-primary" onclick="toggleDescription(this)" style="cursor: pointer;">Read More</span>
                </div></td>
                <td>{{ product.price }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' + product.picture) }}" alt="{{ product.name }}" width="100"></td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.rating }}</td>
                <td>
                    {% if product.is_deleted %}
                    <span class="badge badge-danger">Deleted</span>
                    {% elif product.is_available %}
                    <span class="badge badge-success">Available</span>
                    {% else %}
                    <span class="badge badge-secondary">Out of stock</span>
                    {% endif %}</td>
                <td>{{ product.created_on }}</td>
                <td>
                    {% if product.is_deleted == False %}
                    <a href="{{ url_for('admin.edit_product', id=product.id) }}" class="btn btn-sm btn-warning" style="margin-right: 5px;">Edit</a>
                    <form action="{{ url_for('admin.delete_product', id=product.id) }}" method="post" onsubmit="return confirmDelete()" style="margin: 0;">
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                    {% endif %}
                    {% if product.is_deleted == True %}
                    <form action="{{ url_for('admin.restore_product', id=product.id) }}" method="post" onsubmit="return confirmRestore()" style="margin: 0;">
                        <button class="btn btn-sm btn-secondary" type="submit">Restore</button>
                    </form>
                    {% endif %}
                </td>
                    <script>
                        function confirmDelete() {
                            return confirm('Confirm delete?');
                        }
                        function confirmRestore() {
                            return confirm('Confirm restore?');
                        }
                    </script>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        // Prevent reinitialization
        let table = $('#productTable').DataTable({
            "destroy": true, 
            "order": [[8, "desc"]], // Sort by the "Created On" column
            "paging": true,
            "searching": true,
            "info": true,
            "columnDefs": [
                { "orderable": false, "targets": 0 } ] // Išjungti rikiavimą pirmame stulpelyje (Actions)
        });
    });

    // Toggle Description Functionality
    function toggleDescription(element) {
        const shortDesc = element.previousElementSibling.previousElementSibling;
        const fullDesc = element.previousElementSibling;

        if (shortDesc.style.display === "none") {
            shortDesc.style.display = "inline";
            fullDesc.style.display = "none";
            element.textContent = "Read More";
        } else {
            shortDesc.style.display = "none";
            fullDesc.style.display = "inline";
            element.textContent = "Read Less";
        }
    }

</script>

{% endblock %}
